*, footer{
    font-family: 'Unbounded', cursive;
}

main{
    display:flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.Ningun{
    font-weight:bolder;
    font-size: 1.2em;
}

.Ingresa {
    font-weight: lighter;
}

.logoAlura{
    margin: 40px;
    display: inline-block;
}

.input-mensaje{
    size: 680px;
    color:white;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 100px 0;
    width: 680px;
    height:288px;
    position: absolute;
}

.text{
    background: transparent;
    margin: 0 0 5% 10%;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bolder;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
}
.text:focus{
    outline: none;
}

::placeholder{
    color: white;
}


.encriptar{
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    color: white;
    width: 280px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    margin: 0px 0px 50px 30px ;
    border: #0A3871 2px;
}

.leyenda{
    padding: 0 0 2% 5%;
}

.desencriptar{
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    color: #0A3871;
    width: 280px;
    height: 67px;
    background: #D8DFE8;
    border: #0A3871 2px;
    border-radius: 24px;
    margin: 0 0 0 50px;
    position: relative;
}

#recuadro{
    display: inline-block;
    text-align: center;
    width: 380px;
    height: 550px;
    box-sizing: border-box;
    border-radius: 10px;
    background: whitesmoke;
    margin: 0 0 0 57%;
    position:absolute;
    top: 30px;
}

.mensaje{
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 550px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background: whitesmoke;
    margin: 0 0 0 6%;
    position:absolute;
    top: 30px;
}

.world{
    width: 336px;
}

.world, .Ningun, .Ingresa{
    padding-top: 10%;
}

.Ningun{
    font-weight: bolder;
    color: #0A3871;
}

.Ingresa{
    color: #0A3871;
    font-weight: lighter;
}

footer{
    text-align: center;
    color: white;
    background-color: #0A3871;
    padding: .8%;
    margin: 0 0 0 0;
}

footer p{
    padding:4px;
}